  <!DOCTYPE HTML>
  <html>
    
    <head>
      <title>Nueve Cream Company</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
      <link rel="stylesheet" type="text/css" href="css/grid.css" media="screen">

      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>


  <body>
  		<ul class="nav">

          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About</a></li>

  		</ul>


  		<div id="intro">
      <h1>Soothes away the itchiness, dryness and painful intercourse.</h1>
      <h1>100% all natural. Harmless to sensitive skin.</h1>
      <h1><a href="http://www.amazon.com/NeuEve-Cream/product-reviews/B00CHY132G"><span>Read reviews on Amazon</span></a></h1>
      
      <br>

      <p><a class="btn">buy neuEve Cream</a></p>
      <div id="paypal">
      <img src="img/paypal-icon.png">
      </div>
      <h1>$29.99</h1>
    </div>
   
      <img src="img/cream6.jpg" alt="you make me blush" height="300px" width="300px">
    </div>

    <div id="logo">
    <h1>Neueve</h1>
    <br>
    <h1>Neueve Cream</h1>
    </div>

      <h2>What is Neueve Cream Made of? </h2>
      <p>100% all-natural food grade ingredients : palm oil, beeswax, tapioca starch, inulin, fructo-oligosaccharides, soy lecithin, orange oil, vitamin E, and a proprietary blend.</p>
      <p><a href=" " class="btn-small">Read More</a></p>
    </div>
  </body>
  </html>
