  <!DOCTYPE HTML>
  <html>
    
    <head>
      <title>Nueve Cream Company</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
      <link rel="stylesheet" type="text/css" href="css/grid.css" media="screen">

      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>


  <body>
  		<ul class="nav">
         <div class="container clearfix">
           	<div class="grid_4">
        		<img src="img/cream8.jpg" height="260" width="320">
      		</div>
      		
      		<div class="grid_8 omega">
          		<li><a href="#">Contact</a></li>
          		<li><a href="#">FAQ</a></li>
          		<li><a href="#">About</a></li>
          	</div>
          </div>
        </ul>
   

  	<div id="intro" class="grid_9">
      <h1>Soothes away the itchiness, dryness and painful intercourse.</h1>
      <h1>100% all natural. Harmless to sensitive skin.</h1>
      <h1><a href="http://www.amazon.com/NeuEve-Cream/product-reviews/B00CHY132G"><span>Read reviews on Amazon</span></a></h1>
      
      <br>

      <p><a class="btn">buy neuEve Cream</a></p>
   
      <h1>$29.99</h1>
    </div>

   
      <img src="img/cream6.jpg" alt="you make me blush" height="300px" width="300px">
    </div>

    <div id="logo">
    	<h1>Neueve</h1>
    	<br>
    	<h1>Neueve Cream</h1>
    </div>
    
    <div class="grid_7">
      <h2>What is Neueve Cream Made of? </h2>
      <p>100% all-natural food grade ingredients : palm oil, beeswax, tapioca starch, inulin, fructo-oligosaccharides, soy lecithin, orange oil, vitamin E, and a proprietary blend.</p>
      <p><a href=" " class="btn-small">Read More</a></p>
    </div>
    

<div id="moreinfo">

		<p>The NeuEve cream is made with more concentrated ingredients than the suppository so 

		that a small amount can be used at a time to avoid messiness.</p> 

		<p><b>Indications:</b> Vulvar itching, dryness, atrophy and/or painful intercourse (dyspareunia). 

		Mainly for external vulvar where the suppository does not reach.</p>

		<p><b>Direction:</b> Empty the bladder. Wash with soap and water. Gently apply a small amount 

		(a dime size) of the cream with a finger to the vulvar once daily. Do not over apply. Do 

		not use during menses.<p>

		<p><b>Ingredient:</b> Palm oil, evening primrose oil, flaxseed oil, orange oil, vitamins and 

		proprietary blend. All ingredients are natural, organic, green, food-grade and of plant 

		source. The cream does NOT contain any synthetic chemicals, hormones, drugs, yeasts, 

		bacteria, animal byproducts, petroleum products, artificial color, artificial fragrance, and 

		preservatives such as parabens.</p>

		<p><b>Note:</b> For vulvovaginal use only. Over-application may cause intolerance. Stop use 

		and wash thoroughly to remove the cream if suspected allergy occurs (such as extensive 

		itching and excessive discharges).</p>
    </div>

<div class="grid_7">
      <h2>What customers said about Neueve Cream? </h2>
      <p>Thank you Dr. Chang. You're a godsend! The cream works so well that I almost forgot that I had this itching problem.</p>
      <p><a href="#" class="customer-btn-small">Read More</a></p>
</div>
    <div id="customer-eval">
		<p>" The itching and dryness have bothered me for so many years. Vitamin E cream does not

		work. NeuEve cream works. I have no more itching! "</p>

		<p>" I am sensitive to estrogen. Even at the lowest dosage, I got bleeding. My OB/GYN

		recommended me to try NeuEve cream. Now I have no more itching. I am so happy. "</p>

		<p>" I have suffered from vulva/vaginal dryness for the last 10 years and thought I'd never

		find an all-natural formula to fix the problem. There were times when the dryness was 

		so bad my tissues would bleed. I'd use pure vitamin E oil and that didn't do anything to 

		relieve the problem; just gave me short-term relief. I sometimes had to apply the vit. E 3-

		4 times a day. And then I learned about NeuEve. What I love about NeuEve Cream is that 

		I apply a tiny amount after bathing and I'm good to go for the day. And, I no longer have 

		the odor associated with the condition since starting NeuEve. I always associated that 

		odor with poor hygiene until I had it. <b>If all women knew about the tremendous benefits of 

		NeuEve, they'd get in line to buy it! "</b></p>

    </div>

 <div class="grid_7">
      <h2>Frequently Asked Questions.</h2>
      
      <p><a href="#" class="faq-btn-small">Read More</a></p>
 </div>


 <div id="faq">
		<b>What's contained in the "proprietary blend?"</b>

		<p>About the proprietary blend, it is a mixture of ingredients in trace amounts, mainly 

		vitamins, amino acids and other nutrients for local nourishment of the mucous tissues, 

		like calcium and vitamin D for bones. All ingredients are food-grade, edible and of plant 

		source and should be safe. The composition is patented and is a part of our trade secret. 

		Many businesses have trade secrets, such as the flavor in Coke or the spice in Kentucky 

		fried chicken. If you ever had these things, you have consumed a product that has a trade 

		secret. It is perfectly OK to consume a product without knowing its trade secret.</p>


		<b>Unlike the female hormone, NeuEve works by local nourishment of the vaginal 

		mucosa. Can I take some supplements to help NeuEve work better?</b>


		<p>Yes. Customers have reported that taking regular calcium supplement (~1 g/day) and 

		fish oil (eating fish or flaxseed oil if allergic to fish) can help. If you cannot take any of 

		these supplements, just eat some nuts and fish.</p>

		<b>Why would I need to supplement with other things if NeuEve works?</b>

		<p>Bread alone is a great food, but adding butter makes it better. Likewise, the effect of 

		NeuEve can be improved by other things, such as calcium supplement. A plausible 

		explanation is that after menopause women often become osteoporosis with the loss of 

		calcium, which also drains energy from the body. As a result, many parts of the body 

		shrink, including the vagina. Supplementing calcium may help block energy drainage. 

		This helps NeuEve to work better in relieving vaginal dryness and atrophy.</p>


		<b>The ingredients listed are all the same among the Silk, Silver and Gold. Are there 

		different ingredients in each formula or is it the quantity of each ingredient that makes 

		the difference? </b>

		<p>The major difference among Silk, Silver and Gold formulas are concentrations of certain 

		ingredients to make women to feel mild, moderate and strong, like different levels 

		of spicy hot peppers of the same dish in a restaurant. Our Gold and Silver formulas, 

		sustained and timed-release formulations are introduced. The timed-release formulations 

		can be observed in name brand lawn fertilizers that have different sized granules, each 

		releases the fertilizer at a different time.</p>

		<b>I tried the Gold formula and like it. Do you have anything stronger?</b>

		<p>Yes. We have a Platinum formula that is stronger than the Gold formula. Since the 

		demand is low, we have not listed it on the website. If you want to order the Platinum 

		formula, please purchase the Gold formula on-line and send us a message specifically 

		requesting for the Platinum formula. The price is the same as the Gold formula. 

		I have tried NeuEve suppositories, but I still feel dry. Also, my eyes and mouth also 

		feel terribly dry. </p>


		<b>Is there anything that I can do to help improve this dryness?</b>

		<p>Since you have dry eyes, dry mouth and vaginal dryness, you might have a condition 

		called Sjogren's syndrome. It is an autoimmune disease that causes glands to dry out, 

		including the glands in the eyes, mouth and vaginal tract. Please consult your doctor to 

		confirm diagnosis. If Sjogren's syndrome is diagnosed, there is no cure for this condition. 

		However, there are natural remedies to manage it. Below are my recommendations:</p>

		<p>1. Fish oil. If you are allergic to fish oil, you can take flaxseed oil instead. It is 

		the omega fatty acids that help.</p>

		<p>2. Sea buckthorn oil (2,000 mg a day). This special oil from the berries of a cold 

		weather shrub is a special essential fatty acid called omega-7. It is very helpful at 

		improving lubrication throughout the body – including tears, saliva, and vagina.</p>

		<p>3. Other treatments helpful for dry eyes and mouth include: Take a B-complex 

		vitamin (50 mg a day), and suck on sugar-free lemon drops or chewing gum.</p>

		<p>4. Check for food allergies. Get your blood tested for wheat allergy. Women with 

		Sjogren's often have allergy to gluten. If wheat allergy is an issue, stop eating bread will 

		help you relieve dryness symptoms.</p>

		<p>5. Take probiotics regularly, such as Dannon yogurt, Activia, etc. </p>

		<p>6. Continue using NeuEve for managing vaginal dryness. </p>

		<p>7. Drink plenty of water and use a humidifier in the house.</p>

 </div>



<div class="grid_5 omega">
    <h2>Contact Us</h2>
       <div id="contact">
         <p>Call us: <span>1-333-Nu-Eve</span><br>
         Email us: <a href="#">neueve@cream.com</a></p>
       </div>

          <p>Facebook &amp; Twitter </p>
      		<a href="https://www.facebook.com/"><img src="img/facebook.gif" alt="Facebook"></a>
      		<a href="https://twitter.com/#!/"><img src="img/twitter.gif" alt="Twitter"></a>
</div>


<div id="copyright" class="grid_12">
    <p>&copy; 2014 Neueve Cream Company. All Rights Reserved.</p>
</div>


<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="main.js"></script>













  </body>
  </html>
